.product {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.product-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    border-radius: 12px;
}
.product-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.product-card__img {
    margin: 0 0 30px;
    border-radius: 12px;
}
.product-card__model {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    display: block;
    margin: 0 0 15px;
}
.product-card__description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 35px;
}
.product-card__value {
    color: #26AA9A;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    display: block;
    margin: auto 0 20px;
}
.product-card__links{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 0 20px;
}
.product-card__link {
    display: block;
    text-align: center;
    padding: 14px 0;
    background-color: #26AA9A;
    color: #1F2023;
    width: calc(50% - 10px);
    border-radius: 8px;
}
.product-card__link-accent {
    background-color: unset;
    color: #FFFFFF;
    border: 2px solid #26AA9A
}
.product-card__delivery {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    display: block;
}