.button {
    display: flex;
    padding: 14px 20px;
    background-color: #476BF0;
    border-radius: 60px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
}

.button:focus-visible {
    outline: none;
}

.button:hover {
    background-color: #3356D7;
}

.button:focus-visible {
    background-color: #3356D7;
}

.button:focus-visible {
    background-color: #2143C1;
}

.button:disabled {
    background-color: #DBDFEB;
    color: #777C9B;
}
