.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 32px;
    max-width: 450px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 24px 0px rgba(127, 34, 85, 0.02);
    border-radius: 20px;
    color: #1E222E;
    text-align: center;
    position: relative;
}

.child__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.child__list-radio  {
    padding: 32px;
    margin: 0;
    position: relative;
}

.child__item:first-child {
    padding: 32px;
}   

.submit__form {
    border: unset;
    background-color: #476BF0;
    color: #FFFFFF;
    font-family: inherit;
    padding: 14px 143px;
    border-radius: 60px;
}

