.header {
    margin: 0 0 76px;
}

.header__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__item--right {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.header__column {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 4px;
}

.header__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #777B87;
}

.header__text--trans {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #A8ACB7;
}