
.login__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 24px;
}

.login__title {
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.custom__input {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #8F939F;
}

.custom__input:hover {
    color: #3356D7;
}

.custom__input:has(input:focus-visible) .login__form__label-icon {
  color: #3356D7;
}

.login__form-field {
    border-radius: 8px;
    border: 1px solid #CDCFDE;
    padding: 13px 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    outline: none;
}

.login__form-field--captcha {
  background-image: url('/6.1 project/student/images/sprite/gazprom-icon.svg');
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: center;
}

.login__form-field:hover {
    border: 1px solid #3356D7;
    color: #3356D7;
}

.login__form-field:focus-visible {
    border: 1px solid #3356D7;
    color: #3356D7;
    fill: currentColor;
}

.login__form-label {
    position: absolute;
    left: 16px;
    top: -8px;
    color: #8F939F;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 0 3px;
}

.login__form__label-icon {
    position: absolute;
    top: 10px;
    right: 16px;
    transform: translateY(-);
    fill: #8F939F;
}

.login__form__label-icon:focus-visible {
    color: #3356D7;
}


.login__link-forget {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #1E222E;
    
}

.login__link-forget:hover {
    color: #3356D7;
}

.login__link-forget:focus-visible {
    color: #3356D7;
}

.login__bottom {
    height: 80px;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(90deg, #F5F6FA 0%, #F7F1F7 51.5%, #F5F7FD 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
    margin: 0 auto;
}

.login__link-platform {
    margin: 0 auto;
    color: #7E7D87;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 24px 0;
}

.button__login {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-registration__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #476BF0;
}

.login-registration__link:hover {
    color: #3356D7;
}

.start {
    padding: 20px;
    margin: 0;
}