.registration-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 32px;
    max-width: 470px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 24px 0px rgba(127, 34, 85, 0.02);
    border-radius: 20px;
    color: #1E222E;
    text-align: center;
    position: relative;
    padding: 32px;
}

.registration-form__title {
    padding: 0;
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.registration-form__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px 10px;
}

.registration-form__item {
    margin: 0;
    padding: 0;
}

.registration-form__item--familly {
    grid-column: 1 / 3;
}

.registration-form__item--login {
    grid-column: 1 / 3;
}

.registration-form__item--pass {
    grid-column: 1 / 3;
}

.registration-form__item--numb {
    grid-column: 1 / 3;
}

.registration-form__item--mail {
    grid-column: 1 / 3;
}

.registration-form__item--button {
    grid-column: 1 / 3;
}

.registration-form__item--radio {
    grid-column: 1 / 3;
}

.registration-form__item--capctha {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
}

.registration-form__item--capctha-text {
    color: #8F939F;
    text-align: left;
}

.registration-form__item--code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    
}

.registration-form__item-img {
    border: 1px solid #CDCFDE;
    padding: 0 32px;
    border-radius: 8px;
    height: 44px;
    width: 100%;
}

.registration-form__item-refresh {
    width: 11px;
    height: 14px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #8F939F;
    position: absolute;
    right: 36px;
    top: 465px;
}

.form-recovery__radio {
    text-align: left;
}

.form-recovery__radio-label-link {
    color: #476BF0;
}


.form-recovery__radio-label {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.form-recovery__radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #CDCFDE;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    margin-top: 3px;
}


.form-recovery__radio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}