
.card-tour {
  display: flex;
  flex-direction: column;
  min-height: 528px;
  height: 100%;
  border-radius: 24px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 24px;
}

.card-tour__image {
  width: 100%;
  height: 240px;
}

.card-tour__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 18px 30px 30px 30px;
}

.card-tour__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
  gap: 9px;
}

.card-tour__title {
  margin: 0;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #9E5FC4;
}

.card-tour__title-country {
  color: #242424;
  font-weight: 400;
}

.card-tour__head-right {
  display: flex;
  gap: 5px;
}

.card-tour__temp {
  background-color: #F9EFCD;
  padding: 6px 10px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.card-tour__temp--purple {
  background-color: #F2E5FA;
}

.card-tour__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 15px;
}

.card-tour__footer {
  display: flex;
  flex-direction: column;
  margin: auto 0 0;
}

.tours__item--flat .card-tour__footer {
  flex-direction: row;
  justify-content: space-between;
}

.card-tour__footer-price {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  gap: 5px;
}

.card-tour__footer-price-text {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.tours__item--flat .card-tour__footer-price {
  margin: 0;
}

.card-tour__footer-price-item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.card-tour__footer-price-item svg {
  width: 22px;
  height: 20px;
}

.card-tour__footer-right {
  display: flex;
  align-items: center;
  gap: 17px;
  margin: 0;
  padding: 0;
}

.card-tour__link {
  border: 1px solid #9E5FC4;
  padding: 14px 25px;
  margin: 0;
  border-radius: 60px;
  color: #9E5FC4;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  display: block;
  text-align: center;
  width: 263px;
  height: 46px;
}

.card-tour__btn {
  padding: 10px 9px;
  margin: 0;
  border: 0;
  background: transparent;

}