.header {
  padding: 20px 160px;
  background-color: #ffffff;
}

.header__container {
  max-width: 1160px;
  margin: 0 auto;
} 

.header__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__btn-wrapper {
  display: flex;
  gap: 20px;
}

.header__burger,
.header__favorites {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

