.relevant {
    margin: 0 0 80px 0;
}
.relevant__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    margin: 0 0 30px 0;
}
.relevant__list {
    display: grid;
    grid-template-columns: 350px 350px 380px;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.relevant__item {
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.relevant-block {
    padding: 20px 30px;
    background-color: #E0E5FA;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
}
.relevant__block--three .relevant-block__img {
    margin: 0 auto 20px;
}

.relevant__block--three .relevant-block__link {
    margin: 0 auto;
}

.relevant__block--three .relevant-block__description {
    text-align: center;
}

.relevant__block--two {
    background-color: #D2E8E5;
}

.relevant__item--three {
    grid-row: span 2;
}

.relevant__block--three {
    grid-row: span 2;
    background-color: #E0EFFA;
    height: 100%;
}

.relevant__item--four {
    grid-column: span 2;
}

.relevant-block__img {
    border-radius: 200px;
    border: 4px solid #9E5FC4;
    margin: 0 0 20px 0;
}

.relevant-block__title {
    margin: 0;
    color: #9E5FC4;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
}

.relevant-block__subtitle {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin: 0 0 20px 0;
    text-align: center;
}

.relevant-block__link {
    display: block;
    padding: 14px 40px;
    background-color: #9E5FC4;
    color: #FFFFFF;
    border-radius: 60px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.relevant-block__description {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px;
}

.relevant-block__decription-under {
    text-decoration: underline;
}

.relevant__block--four {
    background: linear-gradient(87.12deg, #5839B0 1.65%, #4162B8 100%);
    padding: 30px 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.relevant__block--four .relevant-block {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.relevant-block__four-left {
    width: 520px;
}

.relevant-block__four-text {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin: 0 0 20px 0;
    color: #FFFFFF;
}

.relevant-block__four-img {
    border-radius: 200px;
}

.relevant-block__four-left-down {
    display: flex;
    gap: 15px;
    align-items: center;
}

.relevant-block__four-name {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

}

.relevant-block__four-link-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}