.function {
    max-width: 1096px;
    margin: 0 auto 120px;
}


.function__title {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}

.function__description {
    text-align: center;
    max-width: 785px;
    margin: 0 auto 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    color: #707273;
}

.function__item {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 0;
}

.function__list {
    max-width: 316px;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.function__list-svg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #35AFBF;
    margin: 0 0 30px;
}

.function-icon {
    padding: 25px;
}

.function__list-subtitle {
    margin: 0 0 15px;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
}

.function__list-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    color: #707273;
    max-width: 316px;
    text-align: center;
}

.function__list-line {
    position: absolute;
    bottom: 0;
}