.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style-type: none;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
}

