.review {
    background-color: #D1F4F9;
    width: 100%;
    height: 501px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.review-logo {
    width: 154px;
    height: 31px;
    display: flex;
    margin: 0 0 40px;
}

.review-text {
    margin: 0 0 35px;
    padding: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    color: #4B4C4C;
    max-width: 1072px;
    text-align: center;
}

.review-author {
    display: flex;
    flex-direction: row;
    gap: 16px ;
}

.review-author__img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.review-author__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px 0 ;
}

.review-author__name {
    font-size: 21px;
    font-weight: 500;
    line-height: 80%;
    color: #4B4C4C;
}

.review-author__position {
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    color: #707273;
}