.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(120px, 8vw, 160px) 40px;
}

.start__text {
    font-size: 38px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: 0%;
    color: #252626;
    max-width: 854px;
    text-align: center;
    margin: 0 0 35px;
    padding: 0 ;
}
