.video {
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 501px;
    z-index: 0;
    margin: 0 0 120px;
}

.video__title {
    margin: 0 0 20px;
    padding: 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    color: #ffffff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.video__text {
    margin: 0 0 36px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 765px;
    color: #ffffff;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.video__img {
    width: 100%;
    max-height: 501px;
    display: block;
}

.video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 41, 45, 0.76);
    z-index: 1;
}

.video__button {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: none;
    cursor: pointer;
    padding: 28px;
    border-radius: 50%;
    z-index: 2;
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__button-icon {
    width: 37px;
    height: 37px;
}

.video__img-line {
    position: absolute;
    z-index: 2;
}

.video__img-line--one {
    left: -0.7%;
    top: 0;
    width: 241px;
    height: 257px;
}

.video__img-line--two {
    left: 34.1%;
    top: 0;
    width: 99px;
    height: 105px;
}

.video__img-line--three {
    left: 71.8%;
    top: 0;
    width: 104px;
    height: 130px;
}

.video__img-line--four {
    left: 11.8%;
    bottom: -1%;
    width: 124px;
    height: 129px;
}

.video__img-line--five {
    left: 51.1%;
    bottom: -1%;
    width: 58px;
    height: 71px;
}

.video__img-line--six {
    right: 0;
    bottom: -2%;
    width: 241px;
    height: 264px;
}