* {
  box-sizing: border-box;
}

body {
  font-family: "Exo-2", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #242424;
  margin: 0;
  padding: 0;
  background-color: #f4f4f5;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  overflow: hidden;
}

a {
  color: #242424;
  text-decoration: none;
}
.header__container {
  max-width: 1160px; 
  margin: 0 auto;
}
.container {
  max-width: 1160px; 
  padding: 0 20px;
  margin: 0 auto;
}
