.about-company {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 100px;
}
.about-company__title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    color: #26AA9A;
    margin: 0 0 20px;
}
.about-company__text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 0 20px;
}
.about-company__text--bottom {
    margin-bottom: 40px;
}
.about-company__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border: 2px solid #26AA9A;
    padding: 14px 30px;
    border-radius: 8px;
}