@font-face {
    font-family: "Work Sans";
    src: url("fonts.css/WorkSans-Regular.woff2") format("woff2"),
    url("fonts.css/WorkSans-Regular.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}