* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: auto;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: #242424;
  text-decoration: none;
}

h3 {
  font-weight: 200;
}
h2 {
  font-weight: 900;
}